#hero{
    width:100%;
    height:550px;
    background: #0a667d;
    background: linear-gradient(90deg, rgba(10, 102, 125, 0.5) 0%, rgba(9, 9, 121, 0.5) 35%, rgba(13, 113, 133, 0.5) 100%);
    overflow: hidden;
    position:relative;
}

h2{
    color:#0a667d;
}
#ministy_border{
    text-align: center;
    height:100px;
    width:100%;
    background-color: aliceblue;
    border-radius: 5px;
}

#hero_content{
    color:white;
    font-family:'NotoS ans',sans-serif;
    font-size: 20px;
    font-weight: none;
    text-align: center;
}
#video_bg{
    position:absolute;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height:100%;
    z-index: -1;
}
#nav_bar{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    width: 100%;
    margin-right:10px;
}
#nav_bar > li{
    list-style:none;
    font-family:'NotoS ans',sans-serif;
    font-size: 20px;
    
}
#nav_bar > li > a{
    text-decoration: none;
    color:white;
}
#church-logo{
    width:100px;
    height:100px;
    margin-right:auto;
    border-radius:50%;
}
#body_background{

     /* The image used */
  background-image: url("./assets/v871batch2-wan-19.jpg");

  /* Set a specific height */

  /* Create the parallax scrolling effect */
   /* Full height */
   height: 100%; 

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#location_card{
    display:flex;
    gap:50px;
    justify-content: center;
    justify-content: space-evenly;


}
#announcement_dropdown{
    position:absolute;
    background-color: #003459;
    width:1200px;
    height:400px;
    z-index:999;

}
#address_text{
    margin-top:10px;
    background-color: white;
    font-family:'NotoS ans',sans-serif;
    font-size:30px;
    font-weight: none;
    text-align: center;
    border-radius:2em;
    border:none;
    width:max-content;
    height:400px;
    opacity: 0.8;
}
iframe{
    margin-top:10px;
    border-radius: 2em;
    border:none;
    width:500px;
    height:400px;
    transition: 0.3s ease-in-out;
}
iframe:hover{
    transform:scale(1,1);
    opacity:1;
    
}
#custom-cards{
    opacity:0.8;
}
.card_color{
    background-color:#00A7E1;
}
.card_color_2{

}
.card_color_3{
    background-color: #003459;

}
.py-5 text-center{
    color:white;
}
.lead{
    color:white;
}
